{% extends "base.html" %}

{% block title %}
<title>Все GPS точки</title>
{% endblock %}

{% block body %}
<h2 class="my-3">Все точки из базы данных</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Дата</th>
      <th>Время</th>
      <th>Широта</th>
      <th>Долгота</th>
      <th>Активен</th>
    </tr>
  </thead>
  <tbody>
    {% for p in points %}
    <tr>
      <td>{{ p[1] }}</td>
      <td>{{ p[2] }}</td>
      <td>{{ p[3] }}</td>
      <td>{{ p[4] }}</td>
      <td>{{ p[5] }}</td>
      <td>{{ p[6] if p|length > 5 else '—' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}{"date":"2025-09-18","id":3,"is_active":1,"lat":56.8389,"lon":60.6057,"time":"14:00","user_id":"user3"}

